.box-iniciar-sesin-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.box-iniciar-sesin-box-iniciar-sesin {
  width: 500px;
  height: 650px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.box-iniciar-sesin-rectangle157 {
  top: 0px;
  left: 0px;
  width: 500px;
  height: 650px;
  position: absolute;
  border-radius: 10px;
}
.box-iniciar-sesin-frame23 {
  gap: 81px;
  top: 57px;
  left: 34px;
  width: 431px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.box-iniciar-sesin-text {
  color: var(--dl-color-default-letras);
  height: auto;
  font-size: 36px;
  font-style: Bold;
  text-align: left;
  font-family: Raleway;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.box-iniciar-sesin-frame22 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.box-iniciar-sesin-frame18 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: flex-start;
  flex-direction: column;
}
.box-iniciar-sesin-rectangle158 {
  width: 391px;
  height: 56px;
  border-radius: 5px;
}
.box-iniciar-sesin-frame21 {
  gap: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.box-iniciar-sesin-frame20 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: flex-start;
  flex-direction: column;
}
.box-iniciar-sesin-frame19 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: flex-start;
  flex-direction: column;
}
.box-iniciar-sesin-rectangle159 {
  width: 391px;
  height: 56px;
  border-radius: 5px;
}
.box-iniciar-sesin-frame17 {
  gap: 59px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.box-iniciar-sesin-frame16 {
  gap: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.box-iniciar-sesin-text02 {
  color: rgba(37, 42, 42, 1);
  height: auto;
  text-align: left;
  line-height: 120.00000476837158%;
}
.box-iniciar-sesin-text03 {
  color: var(--dl-color-default-letras);
}
.box-iniciar-sesin-frame15 {
  gap: 10px;
  display: flex;
  padding: 13px 121px;
  overflow: hidden;
  align-items: flex-start;
  border-radius: 5px;
  background-color: rgba(199, 199, 195, 1);
}
.box-iniciar-sesin-text05 {
  color: rgba(37, 42, 42, 0.699999988079071);
  height: auto;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Raleway;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.box-iniciar-sesin-frame14 {
  gap: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.box-iniciar-sesin-text07 {
  color: var(--dl-color-default-letras);
  height: auto;
  text-align: left;
  line-height: 120.00000476837158%;
}
.box-iniciar-sesin-frame13 {
  gap: 10px;
  display: flex;
  padding: 13px 136px;
  overflow: hidden;
  align-items: flex-start;
  border-radius: 5px;
  background-color: var(--dl-color-fondos-2);
}
.box-iniciar-sesin-text09 {
  color: rgba(210, 10, 17, 0.800000011920929);
  height: auto;
  text-align: left;
  line-height: 120.00000476837158%;
}
.box-iniciar-sesin-text11 {
  top: 204px;
  left: 76px;
  color: rgba(37, 42, 42, 0.4000000059604645);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 120.00000476837158%;
}
.box-iniciar-sesin-text13 {
  top: 286px;
  left: 76px;
  color: rgba(37, 42, 42, 0.4000000059604645);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 120.00000476837158%;
}
