.usercontainer {
  padding: 20px;
  margin-left: 300px;
  margin-top: 80px;
}

.fondo {
  background-image: url(../img/fondoperfil.jpg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}


.user-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  background-color: #06808d9d;
  padding: 20px;
}

@media (max-width: 768px) {
  .user-list {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

.user-item {
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.user-info {
  display: flex;
  align-items: center;
}

.user-avatar {
  width: 30%;
  height: 30%;
  margin-right: 13%;
  border-radius: 50%;
}

.user-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.upload{
  width: 100%;
  height: 100%;

}

.user-details {
  flex: 1;
}

.userbutton{
  background-color: #f44336;
  border-radius: 5px;
  padding: 8px;
  margin-left: 25%;
  color: #fff;
}



.user-details {
  margin-bottom: 10px;
  font-weight: lighter;
}
.userdatos {
  font-weight: bold;
}
.user-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.user-actions button {
  padding: 8px 12px;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.user-actions button:first-child {
  background-color: #057f8c;
  color: #fff;
}

.user-actions button:last-child {
  background-color: #f44336;
  color: #fff;
}

@media (max-width: 768px) {
  .user-list {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .usercontainer {
    margin-left: 10%;
    margin-right: 0;
  }
  
}

.usercontainer__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.userperfil {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.userdatos {
  font-size: 18px;
  margin-bottom: 10px;
}

.userinput {
  width: 300px;
  height: 30px;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
