@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: raleway;
  src: url(../../frontend/public/fonts/Raleway-VariableFont_wght.ttf);
}

* {
  color: cmyk(0, 100, 100, 10);
  font-family: raleway;
}

body {
  background-color: #e0eaeb;
}
