@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: frutiger;
  src: url(../../frontend/public/fonts/FTB.ttf);
}

@font-face {
  font-family: montserrat;
  src: url(../../frontend/public/fonts/Montserrat-VariableFont_wght.ttf);
}

* {
  color: cmyk(0, 100, 100, 10);
  font-family: montserrat;
}
