@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: frutiger; /* Frutiger tipo de la diputacion*/
  src: url(../../frontend/public/fonts/FTB.ttf);
}

@font-face {
  font-family: montserrat;
  src: url(../../frontend/public/fonts/Montserrat-VariableFont_wght.ttf);
}

* {
  color: cmyk(0, 100, 100, 10); /* background color rojo dipu*/
  font-family: montserrat;
}

/* -------------  uxui plugin  --------------*/

:root {
  --dl-color-fondos-1: rgba(235, 235, 230, 1);
  --dl-color-fondos-2: rgba(255, 255, 255, 1);
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #d9d9d9;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #a22020;
  --dl-color-danger-500: #bf2626;
  --dl-color-danger-700: #e14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #ffffff;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-primary-100: #003eb3;
  --dl-color-primary-300: #0074f0;
  --dl-color-primary-500: #14a9ff;
  --dl-color-primary-700: #85dcff;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32a94c;
  --dl-color-success-700: #4cc366;
  --dl-size-size-xxlarge: 288px;
  --dl-size-size-maxwidth: 1400px;
  --dl-radius-radius-round: 50%;
  --dl-color-default-letras: rgba(37, 42, 42, 1);
  --dl-color-fondetarjeta-1: rgba(32, 23, 23, 1);
  --dl-color-fondotarjeta-2: rgba(31, 22, 22, 1);
  --dl-color-fondotarjeta-3: rgba(31, 22, 23, 1);
  --dl-color-fondotarjeta-4: rgba(31, 22, 22, 1);
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-color-complementario-1: rgba(31, 209, 80, 1);
  --dl-color-complementario-2: rgba(129, 228, 156, 1);
  --dl-color-complementario-3: rgba(147, 209, 164, 1);
  --dl-space-space-threeunits: 48px;
  --dl-color-default-tipografa: rgba(0, 0, 0, 1);
  --dl-color-default-brandcolor: rgba(210, 10, 17, 1);
  --dl-color-complementario_azul-1: rgba(0, 20, 209, 1);
  --dl-color-complementario_azul-2: rgba(103, 115, 228, 1);
  --dl-color-complementario_azul-3: rgba(168, 175, 239, 1);
  --dl-space-space-oneandhalfunits: 24px;
  --dl-color-complementario_amarillo-1: rgba(244, 204, 61, 1);
  --dl-color-complementario_amarillo-2: rgba(247, 217, 109, 1);
  --dl-color-complementario_amarillo-3: rgba(249, 229, 158, 1);
}
.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
  transform: none !important;
}
.Content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.Heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.Título60 {
  font-size: 60px;
  font-style: normal;
  font-family: Raleway;
  font-weight: 700px;
  font-stretch: normal;
}
.TextoGrangeHeader {
  font-size: 24px;
  font-style: normal;
  font-family: Raleway;
  font-weight: 900px;
  font-stretch: normal;
}
.Título24Bold {
  font-size: 24px;
  font-style: normal;
  font-family: Raleway;
  font-weight: 700px;
  font-stretch: normal;
}
.Contenido {
  font-size: 15px;
  font-style: normal;
  font-family: Raleway;
  font-weight: 400px;
  font-stretch: normal;
}
.Título19ExtraBold {
  font-size: 16px;
  font-style: normal;
  font-family: Raleway;
  font-weight: 800px;
  font-stretch: normal;
}
.TítuloMenús {
  font-size: 16px;
  font-style: normal;
  font-family: Raleway;
  font-weight: 700px;
  font-stretch: normal;
}
.TítuloMenús11 {
  font-size: 11px;
  font-style: normal;
  font-family: Raleway;
  font-weight: 700px;
  font-stretch: normal;
}
.TítuloSecciónBold {
  font-size: 25px;
  font-style: normal;
  font-family: Raleway;
  font-weight: 700px;
  font-stretch: normal;
}
